<header>
  <div class="header-container">
    <a href="/" class="logo">
      <span>⚙️</span>
      <span>أدوات برو</span>
    </a>
    <nav>
      <ul>
        <li><a href="/">الرئيسية</a></li>
        <li><a href="/apps">التطبيقات</a></li>
        <li><a href="/tools">الأدوات</a></li>
        <li><a href="/resources">الموارد</a></li>
        <li><a href="/blog">المقالات</a></li>
        <li><a href="/about">عن الموقع</a></li>
      </ul>
    </nav>
  </div>
</header>

